<link rel='stylesheet' href='/stylesheets/allusers.css' /> <!--84-->

<h1> {{title}}:</h1>

<const id = {{id}}/>
<label hidden for="" id ="labelForIDUser">{{id}}</label>

<section class = "results">

</section>


<script src="./javascripts/allusers.js"></script>
